.navic {
    overflow-x: hidden;

    &__top {
        background-color: rgb(255, 255, 255);
        margin: 0;
        padding: 0 15px;

        .c1 {
            padding: 0 15px;
            display: flex;

            h3 {
                padding-top: 9px;
                padding-bottom: 0;
                margin-top: 0;
                margin: 0;
                color: #000;
                font-weight: 900;
                font-family: 'Cinzel', serif;
                letter-spacing: 1px;
            }

            small {
                font-size: 12px;
                color: rgb(0, 0, 0);
                padding: 15px 0px;
                padding-top: 21px;
                font-family: 'Cormorant Garamond', serif;
                font-family: 'Cinzel', serif;
                font-weight: 700;

                @media (max-width: 460px) {
                    display: none;
                }
            }
        }

        .c2 {
            justify-content: center;
            text-align: center;
            display: flex;
            padding: 11px 25px;

            @media (max-width: 465px) {
                padding: 11px 1px;
            }

            .input-search {
                min-width: 100px;
                max-width: 200px;

                @media (max-width: 465px) {
                    text-align: right;
                    display: flex;
                    justify-content: flex-end;
                    align-items: end;
                }

                input {
                    border: 0.1px solid rgb(134, 134, 134);
                    padding: 1px 18px;
                    border-radius: 50px 0px 0px 50px;
                    background: none;
                    min-width: 20px;
                    max-width: 200px;
                    width: 100%;
                    height: 100%;
                    font-family: 'Roboto Condensed', sans-serif;

                    @media (max-width: 465px) {
                        margin-left: auto;
                    }
                }

                input:focus+.searchmenu {
                    display: grid;

                    @media (max-width: 865px) {
                        display: flex;
                    }
                }

                .searchmenu {
                    // display: none;
                    display: none;
                    grid-template-columns: 2fr 2fr 2fr 2fr;
                    position: fixed;
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    color: #000;
                    margin-top: 1px;
                    left: 0;
                    z-index: 999999;
                    padding: 15px 0px;
                    font-family: 'Roboto Condensed', sans-serif;
                    border-top: 0.5px solid rgb(212, 212, 212);
                    text-align: left;

                    @media (max-width: 865px) {
                        position: fixed;
                        right: 0;
                        top: 5vh;
                        width: 60vw;
                        height: 95vh;
                        left: 40vw;
                        flex-direction: column;
                        overflow: auto;
                    }

                    ul {
                        margin: 0;
                        padding: 0 25px;
                        border-left: 0.5px solid rgb(212, 212, 212);
                    }

                    li:last-child {
                        border: 0;
                    }

                    li {
                        margin: 0;
                        font-weight: 900;
                        font-size: 17px;
                        padding: 10px 0px;
                        border-bottom: 0.5px solid rgb(212, 212, 212);
                        color: #000;

                        a {
                            color: #000;
                        }

                        small {
                            font-size: 13px;
                            color: rgb(85, 85, 85);
                        }
                    }
                }

                .searchmenu:hover {
                    display: grid;

                    @media (max-width: 865px) {
                        display: flex;
                    }
                }
            }

            button {
                border: 0.1px solid rgb(128, 128, 128);
                padding: 1px 10px;
                border-radius: 0px 50px 50px 0px;
                background: none;
                transition: .4s;

                i {
                    color: #000;
                    font-weight: bold;
                }
            }

            button:hover {
                background-color: black;
                color: aliceblue;
                border: 0.1px solid rgb(0, 0, 0);
            }

            button:hover i {
                color: aliceblue;
            }
        }

        .c3 {
            justify-content: right;
            text-align: right;
            display: flex;
            padding: 10px 15px;

            @media (max-width: 768px) {
                display: none;
            }

            button {
                padding: 4px 15px;
                color: rgb(0, 0, 0);
                margin: 0px 3px;

            }

            button:hover {
                border: 1px solid;
            }
        }
    }

    &__bottom {
        padding-top: 10px;
        background-color: rgb(22, 32, 32);
        padding-top: 0px;

        .Navbary {
            background-color: rgb(12, 12, 12);
            margin: 0px auto;
            width: 96%;
            padding: 0px 10px;
            border-radius: 30px;
            border: 1px solid rgb(68, 68, 68);
            transition: .0s;
            z-index: 9999;
            background-color: rgb(206, 0, 0);
            margin: 0px auto;
            width: 100%;
            padding: 1px 10px;
            border-radius: 0px;
            border: 0;
            transition: .0s;
            z-index: 9999;

            .c1 {
                display: flex;
                padding: 0px 20px;
                color: rgb(212, 212, 212);
                font-weight: bold;

                li {
                    margin: 0px 10px;
                    list-style: none;
                    padding: 12px 0;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: rgb(245, 0, 0);
                }

                li[id='nav-foul'] {
                    @media (max-width: 865px) {
                        display: none;
                    }
                }

                li[id='btn-login'] {
                    color: hsl(0, 100%, 63%);

                    @media (min-width: 865px) {
                        display: none;
                        color: hsl(0, 100%, 63%);
                    }
                }

                .Footballdiv,
                .NBAdiv,
                .Basketballdiv {
                    display: none;
                    grid-template-columns: 2fr 2fr 2fr 2fr;
                    position: fixed;
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    color: #000;
                    margin-top: 11px;
                    left: 0;
                    z-index: 9999;
                    padding: 15px 0px;
                    font-family: 'Roboto Condensed', sans-serif;

                    @media (max-width: 865px) {
                        position: fixed;
                        right: 0;
                        top: 0;
                        width: 50vw;
                        height: 100vh;
                    }

                    ul {
                        margin: 0;
                        padding: 0 25px;
                        border-left: 0.5px solid rgb(212, 212, 212);
                    }

                    li:last-child {
                        border: 0;
                    }

                    li {
                        margin: 0;
                        font-weight: 900;
                        font-size: 17px;
                        padding: 10px 0px;
                        border-bottom: 0.5px solid rgb(212, 212, 212);
                        color: #000;

                        a {
                            color: #000;
                        }

                        small {
                            font-size: 13px;
                            color: rgb(85, 85, 85);
                        }
                    }
                }

                .Football:hover .Footballdiv {
                    display: grid;

                    @media (max-width: 865px) {
                        display: grid;
                    }
                }

                .NBA:hover .NBAdiv {
                    display: grid;
                    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
                }

                .Basketball:hover .Basketballdiv {
                    display: grid;
                }
            }

            .c3 {
                text-align: right;
                justify-content: right;
                display: flex;
                padding: 5px 16px;
                color: rgb(255, 255, 255);

                li[id='btn-menu'] {
                    @media (min-width: 865px) {
                        display: none;
                    }

                    @media (max-width: 865px) {
                        display: block;
                        font-size: 20px;
                    }

                    button {
                        border: 0;

                    }
                }

                li[id='btn-menu']:hover {
                    scale: 1;
                }

                li {
                    margin: 0px 10px;
                    list-style: none;
                    cursor: pointer;

                    i {
                        font-size: 22px;
                        color: rgb(224, 224, 224);
                    }

                    i:hover {
                        color: hsl(211, 100%, 68%);

                    }

                    button {
                        background: none;
                        color: rgb(255, 255, 255);
                    }

                    @media (max-width: 865px) {
                        display: none;
                    }
                }

                li:hover {
                    scale: 1.2;
                }

            }
        }
    }

    &__Results {
        // background-color: rgb(236, 236, 236);

        margin: 0;
        padding: 0px 30px;

        @media (max-width: 865px) {
            padding: 0 0px;
        }

        background: linear-gradient(-45deg, #969696, rgb(236, 236, 236), #949494, rgb(253, 253, 253));
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .Result {
        padding: 0;

        &__swiper {
            padding: 0px 40px;
            z-index: 0;

            @media (max-width: 865px) {
                padding: 0 10px;
            }

            div {
                display: flex;

                .logo {
                    padding: 10px 15px;
                    // background: linear-gradient(to left, rgb(26, 114, 114)20%, rgb(22, 32, 32));
                    background-color: #d4d4d4;
                    cursor: pointer;
                    font-family: 'Oswald', sans-serif;
                    letter-spacing: 1px;
                    font-weight: 700;
                    color: #000;
                }

             

                .resul {
                    display: grid;
                    padding: 0 10px;
                    width: 80px;
                    margin: 0 0px;
                    color: rgb(0, 0, 0);

                    small {
                        cursor: pointer;
                        font-weight: 300;
                        width: 100%;
                        align-items: center;
                    }

                    b {

                        padding-top: 5px;
                        color: #000;
                        font-weight: 600;
                        font-family: 'Oswald', sans-serif;
                        // background-color: aqua;
                        height: 10px;
                    }

                    i {
                        margin-left: auto;
                        float: right;
                        color: rgb(0, 0, 0);
                        font-weight: 800;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        padding: 2px 0px;
                        padding-right: 5px;
                        border: 0;
                    }
                }
            }

            .swiper-button-next {}
        }
    }
}

&__scrol {
    position: fixed;
    width: 10%;
    font-size: 24px;
    bottom: 15px;
    right: 45%;
    z-index: 999999999;
    transform: rotate(0deg);

    .bottom {
        text-align: center;
        transition: .4s all;
        animation: scrol 0.8s infinite;

        @keyframes scrol {
            0% {
                padding-bottom: 5px;
            }

            50% {
                padding-bottom: 0px;
            }

            100% {
                padding-bottom: 5px;
            }
        }

        i {
            font-size: 38px;
            color: aliceblue;
            cursor: pointer;
        }
    }

    .top {
        transform: rotate(180deg);
        animation: scroltop 0.8s infinite;

        @keyframes scroltop {
            0% {
                padding-bottom: 0px;
            }

            50% {
                padding-bottom: 0px;
            }

            100% {
                padding-bottom: 0px;
            }
        }
    }

    .top:hover {
        margin-bottom: 5px;
    }
}
}