.table {
    width: 100%;
    height: 515px;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(82, 82, 82);
    padding: 5px;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.27);
    box-shadow: -5px 8px 10px 2px rgba(255, 255, 255, 0.24);
    .head {
        flex: 1;
        display: flex;
        align-items: center;
        font-family: 'Rokkitt', serif;
        padding: 5px;
        padding-bottom: 0;
        a {
            color: #000;
        }
    }
    .team {
        flex: 5;
        padding: 0;
        overflow: hidden;
        width: 100%;
        table {
            width: 100%;
        padding: 0 5px;
        font-size: 16px;
        font-family: 'Rokkitt', serif;
        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            color: aliceblue;
            margin-left: 0;
        }
        th {
            padding: 5px;
            text-align: center;
        }
        td {
            padding: 5px;
            text-align: center;
        }
        #name {
            text-align: left;
            cursor: pointer;
            a {
                color: #000;
            }
        }
        #name:hover {
            font-weight: 800;
        }

        }
    }
    .more {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Rokkitt', serif;
        button {
            background: none;
            border: 0;
            color: rgb(0, 0, 0);
        }
        button:hover {
            font-weight: 800;
        }
        
    }
}