.dashboard{
    .matchgrid-people {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 30px;
        @media (max-width: 767px) {
            grid-template-columns: 1fr ;
        }
    }
}